In [2]:
from src.loader import Loader

loader = Loader.preprocessed()
loader

In [6]:
df=loader.get_sample(10000)
df

,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2
6252,2021-12-18T00:00:00.000,14:20,CROSS BAY BOULEVARD,None,0,0,0,0,0,0,0,0,Pavement Slippery,None,4487815,Sedan,None
4684,2021-04-23T00:00:00.000,8:20,19 AVENUE,HAZEN STREET,1,0,0,0,0,0,1,0,Backing Unsafely,Unspecified,4410123,Sedan,bus
1731,2021-04-17T00:00:00.000,20:23,None,None,0,0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,4408426,Sedan,Sedan
4742,2021-04-22T00:00:00.000,15:25,WEST 133 STREET,CONVENT AVENUE,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,4410184,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
4521,2021-04-12T00:00:00.000,7:45,KINGS HIGHWAY,JODIE COURT,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4407271,Station Wagon/Sport Utility Vehicle,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,2021-04-24T00:00:00.000,12:23,MAJOR DEEGAN EXPRESSWAY,None,2,0,0,0,0,0,2,0,Unspecified,Unspecified,4410218,Multi-Wheeled Vehicle,Motorcycle
5191,2021-04-21T00:00:00.000,17:40,None,None,1,0,1,0,0,0,0,0,Unspecified,None,4410223,Sedan,None
5390,2021-09-14T00:00:00.000,18:45,TINTON AVENUE,EAST 150 STREET,1,0,1,0,0,0,0,0,Unspecified,None,4457316,Station Wagon/Sport Utility Vehicle,None
860,2021-04-15T00:00:00.000,22:15,54 AVENUE,63 STREET,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,4407922,Sedan,Sedan
7270,2021-04-26T00:00:00.000,7:21,QUEENS BOULEVARD,62 DRIVE,0,0,0,0,0,0,0,0,Unspecified,None,4410758,Sedan,None

In [7]:
df['crash_date']

6252    2021-12-18T00:00:00.000
4684    2021-04-23T00:00:00.000
1731    2021-04-17T00:00:00.000
4742    2021-04-22T00:00:00.000
4521    2021-04-12T00:00:00.000
                 ...
5734    2021-04-24T00:00:00.000
5191    2021-04-21T00:00:00.000
5390    2021-09-14T00:00:00.000
860     2021-04-15T00:00:00.000
7270    2021-04-26T00:00:00.000
Name: crash_date, Length: 10000, dtype: object